version: '3.8'

services:
  mysql:
    image: mysql:8.4
    container_name: ai_chat_task_mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ai_chat_task
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: